@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 210 20% 98%;
    --popover-foreground: 222.2 47.4% 11.2%;
 
    --card: 210 20% 98%;
    --card-foreground: 222.2 47.4% 11.2%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 204 90% 45%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 204 31% 15%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 204 31% 25%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --success: 145 88% 45%;
    --warning: 45 93% 53%;

    --ring: 215 20.2% 65.1%;
 
    --radius: 0.75rem;

    --chart-1: 199 95% 47%;
    --chart-2: 145 88% 45%;
  }
 
  .dark {
    --background: 204 31% 9%;
    --foreground: 210 40% 98%;
   
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
   
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
   
    --card: 204 31% 15%;
    --card-foreground: 210 40% 98%;

    --border: 204 31% 12%;
    --input: 217.2 32.6% 17.5%;
   
    --primary: 199 95% 47%;
    --primary-foreground: 210 40% 98%;
   
    --secondary: 204 31% 21%;
    --secondary-foreground: 210 40% 98%;
   
    --accent: 204 31% 25%;
    --accent-foreground: 210 40% 98%;
   
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --success: 145 88% 45%;
    --warning: 45 93% 53%;

    --ring: 216 34% 17%;

    --radius: 0.75rem;

    --chart-1: 199 95% 47%;
    --chart-2: 145 88% 45%;

    /* User view colors */
    --background-dark: 202 31% 9%;
    --card-dark: 205 31% 15%;
    --border-dark: 204 31% 21%;
    --text-secondary: 204 31% 70%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Inter', sans-serif;
  }
  .xterm {
    @apply p-4 rounded-b-lg;
    overflow: hidden;
  }

  .xterm-viewport {
    @apply !bg-card-dark;
     scrollbar-width: none; /* Firefox */
  }
  
  .xterm-viewport::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
  }
}

@layer components {
    .bg-surface-dark {
        @apply bg-secondary;
    }
}
